/*
	Author: Kevin McCoy
	Created: 01/19/2013
*/
/*===============================================================*/
/*  About Page CSS*/
/*===============================================================*/
div#about{
	float: left;
}


/*======================= [END] About Page ========*/
