/*
	Author: Kevin McCoy
	Created: 01/19/2013
*/
/*===============================================================*/
/*  Main Page CSS*/
/*===============================================================*/

}

div#user_testing{
	clear: both;
}
ul{
	display: block;
}

/*======================= [END] Main.css ========*/
