/*
	Author: Kevin McCoy
	Created: 01/19/2013
*/
/*===============================================================*/
/*  Main Page CSS*/
/*===============================================================*/
/* ##### KRM Set ################################################*/
.clearBoth{
	clear: both;
}
ul{
	list-style: none;
}

/* ##### Font Setup #############################################*/
/* Company's Logo */
h1{
	font-family: 'Snippet', sans-serif;
	font-size: 2.1em;
	color: rgba(58, 58, 58, .8);
	margin: 0px
}
h1:hover{
	font-family: 'Snippet', sans-serif;
	color: rgba(58, 58, 58, 1);
}
/* Site Main Title (TODO:: change to h1 and have h1 an logo class)*/
h2{
	font-family: ‘Times New Roman’, Times, serif;
	margin: 30px 0 38px;
	height: 60px;
	font-size: 2.8em;
	float: left;
	text-align: center;
	color:rgb(30, 32, 30);
	width:100%;
	text-decoration: none;
}
h3{
	font-family: 'Wendy One', sans-serif;
	color: rgb(30, 32, 30);
	text-align: center;
	font-size: 2em;
	margin: 24px 0px 24px;
}
/* Title for Image on landing page */
h4{
	font-family: 'Roboto+Condensed', sans-serif;
	text-align: center;
	color: rgba(58, 58, 58, .95);
	font-size: 1.4em;
	margin: 18px 0px 12px;
}
h5{
	font-family: 'Mouse+Memoirs', sans-serif;
	text-align: left;
	color: rgb(30, 32, 30);
	font-size: 1.5em;
	margin: 0px 0px 2px;
}
h6{
	margin: 2px 0 16px;
	font-weight: 100;
}
p, a{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: left;
	font-size: 1em;
	letter-spacing: 1px;
	margin: 12px 0px 8px;
}
p{
	color: rgba(58, 58, 58, 1);
}
ul#nav li a{
	color: rgba(58, 58, 58, 0.72);
	font-weight: 600;
}

/* ##### Navgation #################################################*/
div.table{
	display: table;
	margin: 0 auto;
}
ul#nav {
	font-size:14px;
	list-style:none;
	margin:0 auto;
	padding:0;
	overflow: auto;
}
ul#nav li {
	display:inline;
}
ul#nav li a {
	text-decoration:none;
	display: block;
	padding:5px 21px;
	float:left;
	text-align:center;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
}
ul#nav li a:hover, ul#nav li.current a{
	color: rgba(58, 58, 58, 0.95);
	border-top:8px solid rgba(105, 54, 36, 1);
	border-bottom:8px solid transparent;
}
ul#nav li.current a{
	border-top:8px solid rgba(105, 54, 36, 0.63);
}


/* ##### Wrapper #####*/
/* Wrap entire page except for feedback */
.wrapper{
	margin: 14px auto;
	padding: 32px;
	width: 960px;
	box-shadow: 0px 3px 6px #000;
		-moz-box-shadow:0px 3px 6px #000;
		-webkit-box-shadow:0px 3px 6px #000;
	padding-bottom: 65px;
}

/* ##### Header #####*/
/* Top part of page, contains Navigation and Login */
div#header{
	margin-top: 4em;
	position: relative;
}
div#nav_wrapper{
	position: absolute;
	top: 50%;
	width: 100%;
	height: 10em;
	margin-top: -5em
}
ul#nav{
	float: right;
}
h1.logo{
	float: left;
}
h1.logo a{
	margin: 0px;
	text-align: left;
	text-decoration: none;
}
/* #[END] Header #####*/


/* ##### Short Blog pages #####*/
ul.blogsShort{
	padding: 0px 15px 0px 15px;
}
ul.blogsShort li{
	position: relative;
	width: 500px;
	margin: 15px 0 18px;
	width: inherit;
	overflow: hidden;
	clear: both;
	float: left;
}
ul.blogsShort img{
	float: left;
	margin-right: 25px;
}
span.socialmedia{

}
div span.socialmedia{
	text-align: right;
	position: absolute;
	width: 593px;
	height: 45px;
	bottom: 0px;
	right: 5px;	
}
span.socialmedia .fb-like{
	text-align: right;
	position: absolute;
	width: 593px;
	height: 45px;
	bottom: 30px;
	right: 0px;
}


/* ##### Horizontal Rules ##### */
hr.style_one{
	clear: both;
	margin: 5px 1px 5px auto;
	border: 0;
	height: 1px;
	width: 800px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.2)); 
	background-image:	-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.2)); 
	background-image:	 -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.2)); 
	background-image:	  -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0.15)); 
}
hr.style_two{
	clear: both;
	margin: 0 auto;
	display: block;
	text-align: center;
	border: 0;
	height: 1px;
	width: 600px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.1)); 
	background-image:	-moz-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.1)); 
	background-image:	 -ms-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.1)); 
	background-image:	  -o-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.1)); 
}

/*======================= [END] Main.css ========*/
